body {
  margin: 2% 7% 0 0;
  background-color: white;
}

.navbar {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding-right: 5%;
  padding-left: 17%;
}

.navitems, .logo {
  float: right;
  margin: 13px 5px 12px;
}

.navlink {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 11px 22px;
  font-family: 'Open Sans', sans-serif;
}

.navlink:hover, .active {
  background-color: #757AE9;
  color: white;
  border-radius: 28px;
}

.looking {
  width: 40%;
  float: left;
  padding-left: 17%;
}

.looking-for {
  margin-top: 4%;
}

.looking-img {
  width: 25%;
  float: right;
  margin-right: 10%;
}

.looking-head {
  line-height: 1.2;
  width: 32%;
  font-size: 40px;
  font-family: 'Mukta', sans-serif;
}

.looking-p {
  width: 60%;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  display: block;
  float: left;
  font-size: 25px;
  font-family: 'Mouse Memoirs', sans-serif;
}

.lookingbtn {
  padding: 2% 5%;
  border-radius: 28px;
  border: none;
  margin-top: 20px;
  background-color: #757AE9;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.lookingbtn:hover {
  border: 2px solid #3F3D56;
  background-color: #E6E6E6;
  color: #3F3D56;
}
